# .Net artifacts
**/[Bb]in/*
**/[Oo]bj/*
**/packages/*
*.nupkg

# Visual Studio artifacts
.vs/*
*.suo
*.user
*.userosscache
*.sln.docstates

# OS X artifacts
.DS_Store

# General artifacts
*.log
*.secret
